@import "./App.scss";
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 4px lightgray;
  padding: 0 60px;
  .site-title {
    font-weight: 800;
    font-size: 18px;
  }
  .ui-toggle {
    border: none;
    background: none;
    font-family: $font;
    font-weight: 600;
    font-size: 16px;
  }
}
